.Header {
    background-color: #000;
    height: 120px;
    width: 100%;
}
.Header .nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    /* color: #fff */
}

.Header .nav h2{
    font-size: 1.2rem;
    color: #fff;
    margin: 10px;
}
.Header h1 {
    font-size: 2.8rem;
    color: #fff;
    justify-content: center;
    align-items: center;
    text-align: center;
}
@media(max-width: 790px) {
    .Header .nav {
        justify-content: space-between;
        /* color: #fff */
    }
}