.TodoForm {
    height: 20px;
    width: 90%;
    display: grid;
    margin: 0 auto;
    grid-template-columns: 2fr 1fr;
}
.TodoForm input {
    height: 40px;
    margin: 4px;
}
.TodoForm .butoes {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
/* .TodoForm .butoes Button {
    margin: 4px;
} */

@media(max-width: 1000px) {
    .TodoForm {
        
        grid-template-columns: 1fr 1fr;
    }
}
@media(max-width: 790px) {
    .TodoForm {
        grid-template-columns: 1fr;
    }
}