.TodoForm {
    height: 20px;
    width: 80%;
    display: grid;
    margin: 0 auto;
    grid-template-columns: 2fr 1fr;
    margin-top: 30px;
}
.TodoForm input {
    height: 40px;
    margin: 6px 4px 4px;
    border-radius: 8px;
    text-align: center;
    /* cursor: pointer; */
    line-break: normal;
    border: 0;
    border-bottom: solid 2px rebeccapurple;
}
.TodoForm .butoes {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

@media(max-width: 1000px) {
    .TodoForm {
        
        grid-template-columns: 1fr 1fr;
    }
}
@media(max-width: 800px) {
    .TodoForm {
        grid-template-columns: 1fr;
    }
}